/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 * require_tree .
 */

#login
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36pt;
  display: flex;
  justify-content: space-between;

  background-color: white;
  font-size: 12pt;

  box-shadow: 0 0 18pt rgba(0,0,0,0.6);
}

#signBtn
{
  margin: 6pt;
  padding: 6pt;
}

#signBtn a, #feedbackBtn a, #homeBtn a { color: #666; transition: 0.25s; }
#signBtn a:hover, #feedbackBtn a:hover, #homeBtn a:hover { color: #f60; transition: 0.25s; }

#feedbackBtn
{
  margin: 6pt;
  padding: 6pt;
}

#homeBtn
{
  margin: 6pt;
  padding: 6pt;
}

@media screen and (max-device-width: 767px), (orientation: portrait)
{
  #login
  {
    font-size: 2em;
    height: 52pt;
  }
}
