/* Import Raleway webfont from Google */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/pho.png");
  background-position: center top;
  background-size: 100% auto;

  font-size: 12pt;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

h1{
  padding-top: 1em;
}

#logo{
  box-sizing: border-box;
  width: 90%;
  height: 10em;
  background-image: url(../img/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  padding: 2em;
  margin-top: 5em;
  margin-bottom: 2em;
}

#search_bar{
  font-size: 4em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 90%;
  height: 5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding-left: 10px;
  -webkit-transform:translateY(-38.5%);
  color: rgba(75,75,75,1);
}

#sButton{
  box-sizing: border-box;
  width: 10%;
  height: 5em;
  border: none;
}

form{
  box-sizing: border-box;
  width: 80%;
  position: absolute;
  top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}


input {
    width: 80%;
    padding: 12px 20px;
    margin: 4px 0;
    margin-top: -5px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 80px;
    text-align: center;
    background-color: white;
    padding: 14px 25px;
    display: inline-block;
  }

div{
    width: 900px;
}



home {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    text-align: center;
}

#logo-search-container
{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#logo-search-container.search
{
  position: fixed;
  flex-flow: row;
  height: 6em;
  z-index: 1;

  background-color: #666;
}

#recipe-container
{
  /* Display elements in card format wrapping around the body */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  /* Same width as form for consistency */
  width: 80%;
  min-height: calc(100vh - 8em);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8em;
  z-index: 0;

  background-color: white;
}

.recipe-card-link
{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  height: 15em;
}

.recipe-card
{
  position: relative;
  width: 3.25in;
  height: 15em;
  box-shadow: 0 0 1em rgba(0,0,0,0.6);

  color: black;
  font-size: 1em;
}

.recipe-image
{
  position: absolute;
  width: 100%;
  height: calc(100% - 5em);
  top: 0;

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.recipe-info
{
  position: absolute;
  overflow: hidden;
  width: calc(100% - 0.2in);
  height: 6em;
  bottom: 0;
  padding: 0.1in;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  background-color: white;

  font-size: 0.9em;
}

.recipe-info h1
{
  width: 75%;
  height: auto;
  margin: 0;
  font-size: 1.25em;
}

.recipe-info p.recipe-servings
{
  width: auto;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1em;
}

.recipe-info p.recipe-time
{
  margin-top: 0.1in;
  margin-bottom: 0;
  -webkit-margin-before: 0.1in;
  -webkit-margin-after: 0;

  font-size: 1em;
}

.recipe-info ul
{
  margin: 0;
  padding: 0;
  width: 100%;
}

.recipe-info ul > li
{
  display: inline-block;
  margin-top: 0.1in;
  margin-left: 0;
  margin-right: 0.05in;
  margin-bottom: 0;

  font-size: 0.75em;
  color: #555;
}

.recipe-info ul > .relevant
{
  color: #f60;
}

.recipe-save
{
  position: relative;
  left: 212px;
  width: 1in;
  height: 1em;
  padding: 0.1in;
  font-size: 0.8em;
  text-align: center;
}

@media screen and (min-aspect-ratio: 3/2)
{
  body {
    background-size: 100% auto;
  }
}

@media screen and (max-aspect-ratio: 3/2)
{
  body {
    background-size: auto 100vh;
  }
}

/* For mobile devices */
@media screen and (max-device-width: 767px), (orientation: portrait)
{

}
